.tableau {
    overflow-y: scroll;
    width: 75vw;
    height: 50vh;
    background-color: rgba(48, 48, 55, 0.25);
}
table {
    border-collapse: collapse;
    width: 100%;
}
thead {
    position: sticky;
    top: 0;
}
.maintitleTab {
    background-color: black;
    color: white;
    font-size: 25px;
}
.titlesTab {
    background-color: black;
    color: white;
    text-align: center;
}
.lineTab {
    border-bottom: 1px solid rgb(171, 169, 169);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    text-align: center;
}
.cellPlayer {
    min-width: 5vw;
}

.GamePage {
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/public/naruto.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.ButtonPlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ImgButton {
    width: 250px;
}
#textPlay {
    color: #fbda059b;
    font-size: 30px;
    text-shadow: 2px 2px 3px rgb(171, 171, 171);
    position: absolute;
    font-family: 'Kocak';
}

#ImgButton:hover {
    width: 270px;
}
#ImgButton:hover + #textPlay {
    font-size: 35px;
    color: #fbdb05;
    text-shadow: 3px 3px 4px rgb(127, 127, 127);
}