.main__chatlist {
  border-right: 2px solid #f8f8f9;
  /* padding: 0 10px 0 0px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.chatlist__heading {
  width: 100%;
  text-align: center;
}

.search_wrap {
  background-color: #e9e8ed;
  width:90%;
  border-radius: 10px;
  display: flex;
}

.search_wrap input {
  background-color: transparent;
  border: none;
  padding: 15px 15px;
  outline: none;
  width: 80%;
  padding-right: 0;
}

.search-btn {
  height: 46px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 20%;
  cursor: pointer;
  font-size: 20px;
}

.chatlist__items {
  margin-top: 10px;
  overflow: auto;
  max-height: 100vh;
  min-height: 25vh;
  width: 90%;
  opacity: .8;
  background-color: grey;
}

.chatlist__item {
  display: flex;
  border-bottom: 1px solid #ebe7fb;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.1s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chatlist__item:first-child {
  margin-top: 0;
}

.chatlist__item .userMeta p {
  margin: 0 10px;
  padding: 0;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.chatlist__item .userMeta span {
  margin: 0 10px;
  padding: 0;
  color: #4c4a53;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.chatlist__item:hover,
.chatlist__item.active {
  background: #fff;
  border-radius: 10px;
}

.Box-button-newchannel{
  width:90%;
  height:47px;
  background-color: rgb(207, 189, 27);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.Box-button-newchannel:hover{
  transform: scale(1.02);
  background-color: #4664ff;
  color: #fff;
}

.Box-button-newchannel i {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-right: 1px solid #ebe7fb;
}
.Box-button-newchannel span {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  max-width: 500px;
  width: 100%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

.channel_input {
  width: 90%;
  font-size: 14px;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}