.main__chatlist {
  border-right: 2px solid #f8f8f935;
  background-color: #8e8c8c4e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
.chatlist__heading {
  width: 100%;
  text-align: center;
}

.btn {
  background-color: #e8e9eb;
  border: none;
  cursor: pointer;
  margin: 0px 10px 10px 10px;
  width: 180px;
  height: 47px;
  line-height: 47px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.357);
  display: flex;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #0e0505;
  color: #fff;
  transform: scale(1.02);
}
.btn i {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  border-right: 1px solid #ebe7fb;
}
.btn span {
  flex: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.chatlist__items {
  overflow: auto;
  max-height: 100vh;
  min-height: 25vh;
  width: 90%;
  opacity: .8;
}

.chatlist__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebe7fb;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
  transform: scale(0);
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.1s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chatlist__item:first-child {
  margin-top: 0;
  border-top: #faf9f9 2px solid;
}
.chatlist__item .userMeta p {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.chatlist__item .userMeta span {
  margin: 0;
  padding: 0;
  color: #4c4a53;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.chatlist__item:hover, .chatlist__item.active {
  background: #fff;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  max-width: 500px;
  width: 100%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

.channel_input {
  width: 90%;
  font-size: 14px;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

#DisabledByDefaultIcon {
  display: none;
}

.chatlist__item:hover #DisabledByDefaultIcon {
  display: block;
}

#DisabledByDefaultIcon:hover {
  color: #c13232;
}
