.ProfilePage{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #8fa9d4;
}

.ProfilePage_header {
  display: flex;
  flex-direction: row;
  background-image: url("https://static.vecteezy.com/ti/vecteur-libre/t2/16082586-icones-au-neon-raquette-de-ping-pong-tennis-de-table-ensemble-d-iconesles-neon-rouge-bleu-jaune-sur-fond-sombre-vectoriel.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: rgb(13, 13, 19);
  border-bottom: solid 5px white;
}
.ProfilePicture {
  position: relative;
}
.ProfilePage_header h1 {
  color: white;
  text-shadow: #03d3fc 1px 2px 3px;
  margin-bottom: 14px;
  margin-top: 0px;
}

.ProfilePage_info {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}
.ProfilePage_info .Info {
  /* text-shadow: #03d3fc 1px 2px 3px; */
  font-size: 23px;
  display: flex;
  margin-bottom: 10px;
}

.Match_history {
  display: flex;
  width: 100wv;
  align-items: center;
}
.Match_history .Info {
  flex-grow: 1;
  font: bolder;
  font-size: 20px;
}

.Achievements {
  display: flex;
  flex-direction: column;
  background-color: #5616cf;
  color: white;
  max-height: fit-content;
}

.Achiev_list {
  display: flex;
}

.Achiev {
  display: flex;
  flex-direction: column;
}

.Achiev_image {
  height: 150px;
  width: auto;
  opacity: 0.5;
  position: relative;
}